page-movie-detail {

}
.movieSegment{
  background-color: black;
  margin-top: 5px;
}

.movieSegmentText{
  color: white;
  padding:2px;
  padding-left: 10px;
}

.castScroll{
  margin-bottom: 0px;
}

.movieDescription{
  background-color: bisque;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
}





